body {
  margin: 0px;
}

main {
  background-color: #6a8ac1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 20px;
  border: solid 1px #4d73b5;
  border-radius: 20px;
  background-color: #ffffff;
  width: 400px;
  text-align: center;
}

h1 {
  color: #000816;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

p {
  color: #000816;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-top: 8px;
}

img {
  width: 140px;
  height: 140px;
  border-radius: 99999px;
}

.links {
}

a {
  margin: 8px;
}